# Backend Environment Variables
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/jobportal?schema=public"
REDIS_URL="redis://localhost:6379"
PORT=5000
JWT_SECRET="supersecretjwtkeythatshouldbechanged"
JWT_REFRESH_SECRET="supersecretjwtrefreshkeythatshouldbechanged"

# Frontend Environment Variables
NEXT_PUBLIC_API_URL="http://localhost:5000/api"
